*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter;
}

body{
background:#f3f4f6;
padding:30px;
}

/* HERO */
.hero{
background:linear-gradient(90deg,#064e3b,#022c22);
color:white;
padding:40px;
border-radius:20px;
margin-bottom:30px;
}

.hero h1{
font-size:28px;
}

/* LAYOUT */
.container{
display:flex;
gap:20px;
}

/* FILTERS */
.filters{
width:280px;
background:#fff;
padding:25px;
border-radius:15px;
display:flex;
flex-direction:column;
gap:12px;
}

.filters input,
.filters select{
padding:12px;
border-radius:10px;
border:1px solid #ddd;
}

/* FEED */
.feed{
flex:1;
display:flex;
flex-direction:column;
gap:20px;
}

/* CARD */
.card{
background:#fff;
padding:20px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.tags span{
padding:5px 10px;
border-radius:10px;
font-size:12px;
margin-right:5px;
}

.green{background:#d1fae5}
.red{background:#fee2e2}
.blue{background:#dbeafe}
.yellow{background:#fef3c7}
.gray{background:#eee}
.light{background:#dcfce7}

/* CHIPS */
.chips span{
background:#eef2ff;
padding:5px 10px;
border-radius:10px;
font-size:12px;
margin-right:5px;
}

/* META */
.meta{
display:flex;
justify-content:space-between;
margin-top:10px;
color:#666;
font-size:13px;
}

/* BUTTON */
button{
margin-top:10px;
padding:8px 15px;
border:none;
border-radius:20px;
background:#0f766e;
color:white;
cursor:pointer;
}