*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter;
}

body{
background:linear-gradient(90deg,#eef2f3,#e6dfd4);
height:100vh;
display:flex;
align-items:center;
justify-content:center;
}

/* MAIN */
.container{
display:flex;
width:900px;
border-radius:20px;
overflow:hidden;
box-shadow:0 20px 50px rgba(0,0,0,0.1);
}

/* LEFT */
.left{
flex:1;
padding:40px;
background:linear-gradient(180deg,#064e3b,#022c22);
color:white;
border-radius:20px;
}

.tag{
font-size:12px;
opacity:0.7;
}

.left h1{
font-size:36px;
margin:15px 0;
}

.left p{
color:#d1d5db;
margin-bottom:20px;
}

.left li{
margin-bottom:10px;
}

/* RIGHT */
.right{
flex:1;
background:#f9fafb;
padding:40px;
border-radius:20px;
margin-left:10px;
}

.small{
font-size:12px;
color:#888;
}

.right h2{
margin:10px 0 20px;
}

/* FORM */
form{
display:flex;
flex-direction:column;
gap:10px;
}

label{
font-size:14px;
color:#333;
}

input,select{
padding:12px;
border-radius:10px;
border:1px solid #ddd;
}

.row{
display:flex;
gap:10px;
}

button{
margin-top:10px;
padding:14px;
border:none;
border-radius:25px;
background:linear-gradient(90deg,#0f766e,#14b8a6);
color:white;
font-weight:600;
cursor:pointer;
}

/* MOBILE */
@media(max-width:800px){
.container{
flex-direction:column;
width:95%;
}
.row{
flex-direction:column;
}
}